{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}



{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script
    src="https://cdn.tiny.cloud/1/c3n6lu13jap2ehdz800xbmrmucezhjkqbjyfs2ps60jbgn4z/tinymce/5/tinymce.min.js"></script>

<script>
    $(function () {
        tinymce.init({
            selector: '#txtEditor',
            height: 600,
            menubar: false,
            plugins: 'paste image link autolink lists checklist table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                'forecolor backcolor',
                'table link image media', 'checklist'
            ]
        });
    })
</script>

<script>
    $(function () {
        $('#formEdit').validate({
            rules: {
                ChuDe: {
                    required: true
                },
                NgayDang: {
                    required: true
                },
                NoiDung: {
                    required: true
                }

            },
            messages: {
                ChuDe: {
                    required: 'Nhập chính xác chủ đề '
                },
                NgayDang: {
                    required: 'Nhập chính xác ngày đăng'
                },
                NoiDung: {
                    required: 'Nhập chính xác nội dung'
                }
            },
            errorElement: 'small',
            errorClass: 'col help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        })
    })
</script>

<script>
    $(function () {
        $('#formAdd').validate({
            rules: {
                ChuDe: {
                    required: true,
                    
                },
                LoaiBai: {
                    required: true,
                },
                NgayDang: {
                    required: true
                },
                NoiDung: {
                    required: true
                }

            },
            messages: {
                ChuDe: {
                    required: 'Nhập chính xác chủ đề',
                },
                LoaiBai: {
                    required: 'Nhập chính xác cấp độ'
                },
                NgayDang: {
                    required: 'Nhập chính xác ngày đăng'
                },
                NoiDung: {
                    required: 'Nhập chính xác nội dung'
                }
            },
            errorElement: 'small',
            errorClass: 'col help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        })
    })
</script>

<script>
    $(function () {
        $('#date').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });
    })
</script>

{{/section}}

{{#if Check}}
<div>
    <div class="m-3 bg-gray rounded text-black">
        <div>
            <h1><b>Chi Tiết Ngữ Pháp</b></h1>
        </div>
        <hr>
        <form id="formEdit" action="/admin/nguphap/chinhsua" method="POST">
            {{#each chitiet}}
            <div class="shadow-lg m-4 p-3">

                <div class="form-group row ml-5">
                    <div class="col-md-7 d-flex flex-nowrap">
                        <label class="col-md-1 mt-2">Mã: </label>
                        <input class="col-md-3 form-control" readonly name="Ma" type="text" id="ten"
                            value="{{idCauTruc}}">
                    </div>
                    <div class="col-md-6 mt-3">
                        <input name="ChuDe" type="text" id="ten" class="form-control border" placeholder="Chủ đề"
                            value="{{TenBai}}">
                    </div>
                    <div class="col-md-5 mt-3">
                        <input name="NgayDang" type="text" id="date" value="{{format NgayDang}}"
                            class="form-control border">
                    </div>
                    <div class="col-md-11 mt-3">
                        <textarea class="form-control border" name="NoiDung" id="txtEditor"
                            rows="10">{{{NoiDung}}}</textarea>
                    </div>
                </div>

            </div>
            {{/each}}
            <div class="col-md-11 ml-5" style="margin-top:20px; display:flex;justify-content:space-between">
                <a class="btn btna" href="/admin/nguphap" id="Quaylai"><i class="fa fa-backward"
                        aria-hidden="true">&nbsp;</i>Quay lại</a>
                <button class="btn btna btn-primary" type="submit" id="Them">
                    <i class="fa fa-check" aria-hidden="true">&nbsp;</i>Lưu lại</button>
            </div>
        </form>
    </div>

</div>
{{else}}
<div>
    <div class="m-3 bg-gray rounded text-black">
        <div>
            <h1><b>Thêm Ngữ Pháp</b></h1>
        </div>
        <hr>
        <div class="shadow-lg m-4 p-3">
            <form id="formAdd" action="/admin/nguphap/add" method="POST">
                <div class="form-group row ml-5">
                    <div class="col-md-6 mt-3">
                        <select name="LoaiBai" style="width: 400px;height: 40px">
                            <option value="">Chọn cấp độ</option>
                            <option value="3">Cấu trúc căn bản</option>
                            <option value="4">Cấu trúc nâng cao</option>
                        </select>
                    </div>
                    <div class="col-md-5 mt-3">
                        <input name="NgayDang" type="text" id="date" placeholder="Ngày đăng"
                            value="{{format this.Nowday}}" class="form-control border">
                    </div>
                    <div class="col-md-11 mt-3">
                        <input name="ChuDe" type="text" id="ten" class="form-control border" placeholder="Chủ đề"
                            value="">
                    </div>
                    <div class="col-md-11 mt-3">
                        <textarea class="form-control border" name="NoiDung" id="txtEditor" rows="10"></textarea>
                    </div>
                </div>

                <div class="col-md-11 ml-5" style="margin-top:20px; display:flex;justify-content:space-between  ">
                    <a class="btn btna" href="/admin/nguphap" id="Quaylai"><i class="fa fa-backward"
                            aria-hidden="true">&nbsp;</i>Quay lại</a>
                    <button class="btn btna mr-4" type="submit" id="Them">
                        <i class="fa fa-check" aria-hidden="true">&nbsp;</i>Thêm cấu trúc</button>
                </div>
            </form>
        </div>
    </div>

</div>

{{/if}}