{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script>
    $(function () {
        $('#date').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });
    })

    $("button").click(function () {
        var a = $(this).val();
        $('#FormDelete').attr('action', '/admin/nguphap/delete/' + a);
    })
</script>

<script>
     $(function () {
         $('#chitiet').click(function(){
             $('#ten').val($('#'));
         })
     })
</script>
{{/section}}

<div class="mt-3">
    <div class="title ml-3 mr-3 text-black">
        <h2><b>Quản Lý Phần Ngữ Pháp</b></h2>
        <hr>
    </div>
    <div class="col-md-12 ml-0 mt-3 d-flex flex-nowrap">
        
        <div class="col-md-11 d-flex justify-content-end">
            <button id="btnThem" class="btn"><a href="/admin/nguphap/add" class="text-white">
                <i class="fas fa-plus-circle"></i> Thêm bài học</a></button>
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <table class="table table-hover table-dark word-table datatable" id="myTable">
            <thead>
                <tr>
                    <td>STT</td>
                    <td>Chủ đề</td>
                    <td>Ngày đăng</td>
                    <td>Hành động</td>
                </tr>
            </thead>
            <tbody>
                {{#each this.dsCauTruc}}
                <tr>
                    <td>{{stt}}</td>
                    <td>{{ChuDe}}</td>
                    <td>{{format NgayDang}}</td>
                    <td>
                        <button class="btn" value="{{idCauTruc}}" data-toggle="modal" data-target="#delModal"><i
                                class="fas fa-minus-circle"></i></button>
                        <a class="btn" href="/admin/nguphap/chitiet/{{idCauTruc}}" id="chitiet"><i class="far fa-eye"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>



<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>


<form method="POST" id="FormDelete">
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="delModalLabel"><b>XÓA BÀI</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn thật sự muốn xóa bài này?
                </div>
                <div class="col-md-12 p-3 text-center">
                    <a href="javascript: $('#FormDelete').submit()" class="btn btn-danger">Đồng ý</a>
                </div>
            </div>
        </div>
    </div>
</form>
