<section class="site-section">
    <div class="w3-sidebar" style="top: 0px;">
        <div class="w3-bar-block" id="leftmenuinner">
            <div class="w3-container text-center">
                <h3>CHỦ ĐỀ</h3>
            </div>
            {{#each Chude}}
            <div class="w3-collapse w3-bar-item">
                <a class="{{#if isSelected}}active{{/if}}" href="/{{LoaiBai}}/{{idCDBaiHoc}}">{{TenBai}}</a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="container text-black">
        <div class="row">
            <div class="col-md-12 mx-auto blog-content">
                <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    {{#each DSluyennghe}}
                    <div class="item-content" style="font-size: 14px;height: 100px;">
                        <a href="{{CDBaiHoc}}/{{idBaiNghe}}">
                            <img style="width: 130px; height: 90px; float: left;border: 1px solid #eee;margin: 0 20px 10px 0;"
                                src="{{HinhAnh}}">
                            <b><u>{{tenBai}}</u></b>
                        </a>
                        <p>Click if you're ready</p>
                    </div>
                    <hr>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-end mr-5">
            <li class="page-item">
                <span class="page-link">Previous</span>
            </li>
            {{#each this.pages}}
            {{#if active}}
            <li class="page-item active" aria-current="page">
                <a href="javascript:;" class="page-link">
                    {{value}}
                </a>
            </li>
            {{else}}
            <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
            {{/if}}
            {{/each}}
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</section>
<footer class="site-footer footer-edit">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">

                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>

                </form>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made
                        with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>