{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script
    src="https://cdn.tiny.cloud/1/c3n6lu13jap2ehdz800xbmrmucezhjkqbjyfs2ps60jbgn4z/tinymce/5/tinymce.min.js"></script>
<script>
    $(function () {
        tinymce.init({
            selector: '#txtEditor',
            height: 400,
            menubar: false,
            plugins: 'paste image link autolink lists checklist table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                'forecolor backcolor',
                'table link image media', 'checklist'
            ]
        });
    })
    $(function () {
        tinymce.init({
            selector: '#txtDapAn',
            height: 300,
            menubar: false,
            plugins: 'paste image link autolink lists checklist table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                'forecolor backcolor',
                'table link image media', 'checklist'
            ]
        });
    })
    $(function () {
        tinymce.init({
            selector: '#txtScript',
            height: 300,
            menubar: false,
            plugins: 'paste image link autolink lists checklist table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                'forecolor backcolor',
                'table link image media', 'checklist'
            ]
        });
    })
</script>

<script>
    $(function () {
        $('#date').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });
    })
</script>

{{/section}}
<div>
    <form id="formEdit" method="POST">
        <div class="m-3 bg-gray rounded text-black">
            <h1><b>CHI TIẾT BÀI VIẾT</b></h1>
        </div>
        <hr>
        <div class="shadow-lg m-4 p-2">

            <div class="form-group row mt-3">
                <div class="col-md-12 d-flex flex-nowrap justify-content-center">
                    <div class="col-md-6 d-flex flex-nowrap">
                        <label class="col-md-3">Mức độ</label>
                        <select name="Loai" style="height: 40px " class="col-md-6 ml-2 form-control border">
                            {{#each this.dsLoai}}
                            <option {{#if isSelected}} selected {{/if}} value="{{idCDBaiHoc}}">{{TenBai}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-md-4 d-flex flex-nowrap">
                        <label class="">Ngày đăng: </label>
                        <input class="col-md-8 form-control border" name="date" type="text" id="date"
                            value="{{format this.baiNghe.NgayDang}}">
                    </div>
                </div>
                <div class="col-md-12 mt-3 d-flex flex-nowrap justify-content-center">
                    <div class="col-md-2">
                        <label>Tên bài</labe>
                    </div>
                    <div class="col-md-8">
                        <input name="TenBai" type="text" id="tieuDe" class="form-control border"
                            value="{{ this.baiNghe.tenBai}}">
                    </div>
                </div>
                <div class="col-md-12 mt-3 d-flex flex-nowrap justify-content-center">
                    <div class="col-md-2">
                        <label>Link âm thanh</labe>
                    </div>
                    <div class="col-md-8">
                        <input name="AmThanh" type="text" id="tieuDe" class="form-control border"
                            value="{{this.baiNghe.FileAmThanh}}">
                    </div>
                </div>
                <div class="col-md-12 mt-3 d-flex flex-nowrap justify-content-center">
                    <div class="col-md-2">
                        <label>Link hình ảnh</labe>
                    </div>
                    <div class="col-md-8">
                        <input name="Anh" type="text" id="tieuDe" class="form-control border"
                            value="{{this.baiNghe.HinhAnh}}">
                    </div>
                </div>
                <div class="col-md-12 mt-3 d-flex flex-nowrap justify-content-center">
                    <div class="col-md-2">
                        <label>Script</labe>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtScript" class="form-control border" name="script" id="txtSummary"
                            rows="5">{{this.baiNghe.Script}}</textarea>
                    </div>
                </div>
                <div class="col-md-12 mt-3 d-flex flex-nowrap justify-content-center">
                    <div class="col-md-2">
                        <label>Đáp án</labe>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtDapAn" class="form-control border" name="DapAn" id="txtSummary"
                            rows="5">{{{this.baiNghe.DapAn}}}</textarea>
                    </div>
                </div>

                <div class="col-md-12 mt-3 d-flex justify-content-center">
                    <div class="col-md-2">
                        <label>Câu hỏi</labe>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control border col-md-9" name="NoiDung" id="txtEditor"
                            rows="10">{{this.baiNghe.BaiTap}}</textarea>
                    </div>

                </div>

            </div>

        </div>


        <div class="col-md-11 ml-5" style="margin-top:20px; display:flex; justify-content:space-between">
            <a class="btn btna" href="/admin/bainghe" id="Quaylai"><i class="fa fa-backward"
                    aria-hidden="true">&nbsp;</i>Quay lại</a>
            <button class="btn btna btn-primary" type="submit" id="Them">
                <i class="fa fa-check" aria-hidden="true">&nbsp;</i>Lưu lại</button>
        </div>
    </form>
</div>