<div class="owl-carousel slide-one-item">
    <div class="site-section-cover overlay img-bg-section"
        style="background-image: url('https://mythgyaan.com/wp-content/uploads/2018/10/English-flow-1.jpg'); ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-7">
                    <h1>Welcome to Easy English!</h1>
                    <p>Chúng ta hãy bắt đầu bằng 1 bài kiểm tra thử nhé!</p>
                    <p><a href="/7" class="btn btn-outline-primary border-w-2 btn-md">Do
                            Test</a></p>
                </div>
            </div>
        </div>

    </div>

    <div class="site-section-cover overlay img-bg-section"
        style="background-image: url('https://hiring.workopolis.com/wp-content/uploads/sites/3/2016/05/iStock_000059873678_Small.jpg'); ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-7">
                    <a href="./User/Tips/bai-viet.html">
                        <h1>Cẩm nang cho người mới bắt đầu</h1>
                    </a>
                    <p>Bạn là 1 người mới làm quen với tiếng Anh? Đừng quá lo lắng hãy đọc bài viết này để xác định cho
                        mình 1
                        con đường học tiếng Anh phù hợp nhé.</p>
                    <p><a href="/10/1" class="btn btn-outline-primary border-w-2 btn-md">Đọc bài</a>
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>
<div class="site-section block__73694" id="investors-section">
    <div class="container-fluid">
        <div class="row d-flex no-gutters align-items-stretch">

            <div class="col-6 col-lg-6 block__73422"
                style="background-image: url('https://www.cbs.com.sg/wp-content/uploads/129453972_s.jpg');">
            </div>



            <div class="col-lg-6 p-lg-5 mt-4 mt-lg-0">
                <h2 class="mb-3 text-black">Đây là gì?</h2>
                <p class="lead">Đây là 1 trang web được tạo ra nhằm giúp đỡ mọi người ở mọi lứa tuổi bắt đầu học tiếng
                    Anh
                </p>
                <p>Trang Web giúp cho người dùng vừa học vừa chơi nhưng đồng thời đáp ứng được một nền tảng cơ bản về
                    tiếng
                    Anh, bao gồm các phần học:</p>

                <div class="row mt-3">
                    <div class="col-lg-6">
                        <ul class="ul-check primary list-unstyled">
                            <li>Học từ vựng theo chủ đề</li>
                            <li>Tạo cũng như lưu từ vựng </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="ul-check primary list-unstyled">
                            <li>Kiểm tra trình độ qua các bài kiểm tra từ cơ bản đến nâng cao</li>
                            <li>Luyện nghe qua các bài hội thoại, bài hát</li>
                        </ul>
                    </div>
                </div>
                Nguồn tài liệu tham khảo: <b><a href="http://www.bbc.co.uk/learningenglish/">BBC Learning
                        English</a></b>
                &mdash;
                <b><a href="https://www.examenglish.com/">Exam English</a></b> &mdash;
                <b><a href="http://www.elllo.org/">Elllo</a></b>
            </div>

        </div>
    </div>
</div>
<div class="site-section bg-primary" id="about-section">
    <div class="container">
        <div class="row justify-content-center mb-4 block-img-video-1-wrap">
            <div class="col-md-12 mb-5">

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                        <div class="block-counter-1">
                            <span class="number"><span data-number="1">0</span></span>
                            <span class="caption">Năm kinh nghiệm</span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                        <div class="block-counter-1">
                            <span class="number"><span data-number="2">0</span></span>
                            <span class="caption">Admin</span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                        <div class="block-counter-1">
                            <span class="number"><span data-number="1755">0</span></span>
                            <span class="caption">Lượng người sử dụng</span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                        <div class="block-counter-1">
                            <span class="number"><span data-number="359">0</span></span>
                            <span class="caption">Số lượng bài học</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section" id="team-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <div class="block-heading-1">
                    <h2>Admin</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
                <div class="block-team-member-1 text-center rounded">
                    <figure>
                        <img src="images/person_3.jpg" alt="Image" class="img-fluid rounded-circle">
                    </figure>
                    <h3 class="font-size-20 text-black">Ricky Fisher</h3>
                    <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Engineer</span>
                    <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quidem,
                        laudantium, illum minus numquam voluptas?</p>
                    <div class="block-social-1">
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span
                                class="icon-facebook"></span></a>
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span
                                class="icon-twitter"></span></a>
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span
                                class="icon-instagram"></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                <div class="block-team-member-1 text-center rounded">
                    <figure>
                        <img src="images/person_3.jpg" alt="Image" class="img-fluid rounded-circle">
                    </figure>
                    <h3 class="font-size-20 text-black">Ricky Fisher</h3>
                    <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Engineer</span>
                    <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quidem,
                        laudantium, illum minus numquam voluptas?</p>
                    <div class="block-social-1">
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span
                                class="icon-facebook"></span></a>
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span
                                class="icon-twitter"></span></a>
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span
                                class="icon-instagram"></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="block-team-member-1 text-center rounded">
                    <figure>
                        <img src="images/person_3.jpg" alt="Image" class="img-fluid rounded-circle">
                    </figure>
                    <h3 class="font-size-20 text-black">Ricky Fisher</h3>
                    <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Engineer</span>
                    <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quidem,
                        laudantium, illum minus numquam voluptas?</p>
                    <div class="block-social-1">
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span
                                class="icon-facebook"></span></a>
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span
                                class="icon-twitter"></span></a>
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span
                                class="icon-instagram"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light block-13" id="testimonials-section" data-aos="fade">
    <div class="container">

        <div class="text-center mb-5">
            <div class="block-heading-1">
                <!-- <span>Happy Client Says</span> -->
                <h2>Cảm Nhận Người Dùng</h2>
            </div>
        </div>

        <div class="owl-carousel nonloop-block-13">
            <div>
                <div class="block-testimony-1 text-center">

                    <blockquote class="mb-4">
                        <p>&ldquo;Mình được truyền nhiều cảm hứng khi học tại trang web này, tiếc là mình đã không tìm
                            thấy
                            trang web này sớm hơn. Tuy nhiên mình rất thích các bài học tại đây, rất hay và bổ ích,
                            không cảm thấy
                            áp lực khi học&rdquo;</p>
                    </blockquote>

                    <figure>
                        <img src="images/person_4.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                    </figure>
                    <h3 class="font-size-20 text-black">Ricky Fisher</h3>
                </div>
            </div>

            <div>
                <div class="block-testimony-1 text-center">
                    <blockquote class="mb-4">
                        <p>&ldquo;Đây là 1 trong những trang web ưa thích của mình&rdquo;</p>
                    </blockquote>

                    <figure>
                        <img src="images/person_2.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                    </figure>
                    <h3 class="font-size-20 text-black">Ken Davis</h3>
                </div>
            </div>

            <div>
                <div class="block-testimony-1 text-center">
                    <blockquote class="mb-4">
                        <p>&ldquo;Mình cảm thấy từ khi học tại trang web này mình tiến bộ hơn rất nhiều và yêu thích
                            tiếng Anh
                            hơn&rdquo;</p>
                    </blockquote>

                    <figure>
                        <img src="images/person_1.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                    </figure>
                    <h3 class="font-size-20 text-black">Mellisa Griffin</h3>
                </div>
            </div>

            <div>
                <div class="block-testimony-1 text-center">
                    <blockquote class="mb-4">
                        <p>&ldquo;Admin ở đây rất dễ thương, bài viết dễ hiểu, mình thích nhất Xem phim phụ đề vì mình
                            vừa được
                            xem phim, vừa được nghe học tiếng Anh&rdquo;</p>
                    </blockquote>

                    <figure>
                        <img src="images/person_3.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                    </figure>
                    <h3 class="font-size-20 text-black">Robert Steward</h3>
                </div>
            </div>


        </div>

    </div>
</div>
<div class="site-section" id="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <div class="block-heading-1">
                    <span>Bài Viết Mới Nhất</span>
                    <h2>Tips</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {{#each Baiviet}}
            <div class="col-lg-6">
                <div>
                    <a href="/{{LoaiBai}}/{{idTips}}" class="mb-4 d-block"></a>
                    <h2><a href="/{{LoaiBai}}/{{idTips}}">{{TieuDe}}</a></h2>
                    <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">{{format NgayDang}}</span></p>
                    <p>{{NoiDungTomTat}}</p>
                    <p><a href="/{{LoaiBai}}/{{idTips}}">Read More</a></p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>

            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made
                        with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>